<option value={{cidade.estado.id}}>
  {{cidade.estado.nome}}
</option>
{{#each estados as |estado|}}
  {{#if  'cidade.estado'}}
    <option value={{estado.id}}>
      {{estado.nome}}
    </option>
  {{/if}}  
{{/each}}