<div class="col-md-8 col-md-offset-2">
    <div class="well">
        <form>
            <div class="form-group">
                <label for="Nome">Nome</label>
                {{input type="text" value=cidade.nome class="form-control" placeholder="Cidade"}}
            </div>
            <div class="form-group">
                <label for="Estado">Estado</label>
                {{estado-select cidade=cidade estados=estados}}
            </div>
            <div class="form-group">
                <button type="subimt" class="btn btn-primary" {{action 'saveCidade' cidade}} disabled={{unless cidade.isValid true}}>Salvar</button>
                {{#link-to "admin.cidade" tagName="a" class="btn btn-default" }}Fechar{{/link-to}}
            </div>
        </form>
    </div>
</div>