<div class="container">
    <h2>{{fa-icon "exclamation-triangle"}} Erro</h2>
    <br />
    <div class="container well">
        <h2 style="text-align:center;">404 - Página não encontrada!</h2>
        <h3 style="text-align:center;">Infelizmente não foi possível encontrar a página que procura... {{fa-icon "frown-o"}}</h3>
        <h4 style="text-align:center;">Para voltar para a página inicial {{#link-to "index"}}Clique Aqui!{{/link-to}} {{fa-icon "smile-o"}}</h4>
    </div>
</div>
