<div class="footer">
    <div class="container">
        <div class="copyright">
           <p> 
           &copy; 2018, made with {{#link-to "admin"}}{{fa-icon "heart"}}{{/link-to}} by <a href="http://cuiateam.com.br">Cuia Team</a>. 
           </p>
        </div>
    </div>
</div>