<div class="footer">
    <div class="container">
        <div class="copyright">
           <p> 
           &copy; 2021, made with {{#link-to "admin"}}{{fa-icon "heart"}}{{/link-to}} by <a href="https://cuiateam.github.io/site/">Cuia Team</a>. 
           </p>
        </div>
    </div>
</div>