<div style="height:50px"></div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="copyright navbar-text">
           <p> &copy; 2018, made with {{fa-icon "heart"}} by <a href="http://cuiateam.com.br">Cuia Team</a>. </p>
        </div>
    </div>
</div>