<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Ajuda-me!</h1>
        <p class="lead">Ajuda-me é um projeto sem fins lucrativos que visa facilitar o acesso a ONGs e projetos sociais.</p>        
        <p>Por aqui você encontra todas as informações mais importantes para encontrar e começar a ajudar quem precisa.</p>
        <p class="lead">{{#link-to "ongs" class="btn btn-primary btn-lg"}}Conheça as ONGs{{/link-to}}</p>
    </div>    
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-4 info">
                    <i class="material-icons red">pan_tool</i>
                    <h4>Pare</h4>
                    <p>
                        Pare um pouco e olhe a sua volta. Observe o mundo ao seu redor, repense como você anda levando a vida!
                        Atente-se as pessoas, animais que te cercam.
                    </p>
                </div>
                <div class="col-md-4 info">
                    <i class="material-icons yellow">lightbulb_outline</i>
                    <h4>Reflita</h4>
                    <p>
                        Reflita sobre o que te move, o que te faz acordar todo dia. Pense nos relacionamentos que obteve durante a sua vida, 
                        nas experiência que vivenciou!
                    </p>
                </div>
                <div class="col-md-4 info">
                    <i class="material-icons green">group</i>
                    <h4>Compartilhe</h4>
                    <p>
                        Compartilhe um pouco das suas alegrias e emoções com pessoas que não tiveram as mesmas oportunidade que você. 
                        Ajude ao próximo, adote um animal, sorria para o seu vizinho... Cada pequena ação de bondade ajuda a tonar o mundo em que vivemos um pouco melhor!!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

