<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Ajuda-me!</h1>
        <p class="lead">Ajuda-me é um projeto sem fins lucrativos que visa facilitar o acesso a ONGs e projetos sociais.</p>        
        <p>Por aqui você encontra todas as informações mais importantes para encontrar e começar a ajudar quem precisa.</p>
        <hr class="my-4">
        <p class="lead">{{#link-to "ongs" class="btn btn-primary btn-lg"}}Conehça as ONGs{{/link-to}}</p>
    </div>    
</div>
