<div class="container">
    <h1>Lista de ONGs</h1>
    <hr />
    <div class="row">
        {{#each sortedModel as |ong|}}
            <div class="col-md-4">
            {{#ong-item item=ong}}{{/ong-item}}
            </div>
        {{else}}
            {{#if sortedModel.isUpdating}}
            <div class="col-md-12 text-center">
                <div class="alert alert-info">
                Carregando...
                </div>
            </div>
            {{else}}
            <div class="col-md-12 text-center">
                <div class="alert alert-info">
                Desculpe, nenhum resultado!
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>

