<div class="container">
    <h2>Sobre</h2>
    <hr />
    <div class="col-md-8 col-md-offset-2">
        <p style="text-align:justify;">Ajude-me é um projeto que visa facilitar o contato entre doadores, voluntários e ONGs. Para tanto ele disponibiliza dados das ONGs como trabalhos realizados, tipos de favorecidos, tipos de necessidades, informações de contato e localização. Através dele o cidadão pode facilmente localizar ONGs em sua região e dessa forma incentivar e facilitar a ajuda ao próximo.</p>
        <p style="text-align:justify;">Ajuda-me é um projeto sem fins lucrativos e todas as doações e apoios as ONGs são realizadas diretamente com as mesmas.</p>
    </div>    
</div>