<div class="container">
    <h2>Sobre</h2>
    <hr />
    <div class="col-md-8 col-md-offset-2 well">
        <h3>Ajuda-me</h3>
        <p>
            Ajude-me é um projeto que visa facilitar o contato entre doadores, voluntários e ONGs. 
            Para tanto ele disponibiliza dados das ONGs como trabalhos realizados, tipos de favorecidos, tipos de necessidades, 
            informações de contato e localização. Através dele o cidadão pode facilmente localizar ONGs em sua região e dessa forma 
            incentivar e facilitar a ajuda ao próximo.
        </p>
        <p>Ajuda-me é um projeto sem fins lucrativos e todas as doações e apoios as ONGs são realizadas diretamente com as mesmas.</p>
        <h3>Cuia Team</h3>
        <p>Cuia Team é um time de desenvolvedores que se uniu com o objetivo de obter conhecimento e experiência na área de TI. 
            Atuando em projetos que utiliza as mais diversas tecnologias, buscamos sempre a qualidade e usabilidade para atender 
            as mais diversas necessidades da melhor forma possível.
        </p>
        <hr />
        <div style="text-align: right;">
            <a href="http://cuiateam.com.br" class="btn btn-primary" target="_blank">Saiba mais</a>
        </div>
    </div>    
</div>