<div class="col-md-8 col-md-offset-2">
    <div class="well">
        <form>
            <div class="form-group">
                <label for="Nome">Nome</label>
                {{input type="text" value=model.nome class="form-control" placeholder="Estado"}}
            </div>
            <div class="form-group">
                <label for="Sigla">Sigla</label>
                {{input type="text" value=model.sigla class="form-control" placeholder="Sigla"}}
            </div>
            <div class="form-group">
                <button type="subimt" class="btn btn-primary" {{action 'saveEstado' model}} disabled={{unless model.isValid true}}>Salvar</button>
                {{#link-to "admin.estado" tagName="a" class="btn btn-default" }}Fechar{{/link-to}}
            </div>
        </form>
    </div>
</div>